@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta bloqueada temporalmente";
}

<header>
    <br />
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <hr />
    <p class="text-danger">
        Su cuenta ha sido bloqueada temporlamente
        debido a que ha execedido el máximo de intentos para iniciar sesión.
    </p>
    <p class="text-danger">
        Por favor, intentelo dentro de tres minutos.
    </p>
    <br />
    <center>
        <img src="~/images/bloqueado.png" width="200" height="200"/>
    </center>
</header>
