@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<br />
<h1>@ViewData["Title"]</h1>
<br />
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            El registro de su cuenta ha sido exitoso. Hemos enviado un correo a su dirección.
        </p>
        <br />
        <p>
            Puede redirigirse a <a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a> para continuar usando el programa.
        </p>

    }
    else
    {
        <p>
            Por favor revise su correo electrónico para confirmar su cuenta.

        </p>
    }
}
