@{
    ViewData["Title"] = "Programa en construcción";
}

<head>
    <style>

        .container {
            position: relative;
        }


        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
            color: white;
            text-shadow: 2px 2px 4px #000000;
        }

        img {
            width: 100%;
            height: auto;
            opacity: 0.6;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>


<div class="container">
    <img src="~/images/herramientas.png" alt="Herramientas"/>
    <div class="center">Programa en construcción</div>
</div>