@using Microsoft.AspNetCore.Identity
@using Proyecto_Analisis.UI.Areas.Identity.Data

@inject SignInManager<UsuariosDeProgramaDeFacturacion> SignInManager
@inject UserManager<UsuariosDeProgramaDeFacturacion> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
      
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Mensaje">Nueva compra</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Clientes" asp-action="Index">Listar clientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Mensaje">Inventario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Mensaje">Generar cierres</a>
        </li>

        <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light">Cerrar sesión</button>
            </form>
        </li>
    }
    else
    {
       
    }
</ul>
